section {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33%;
  border-radius: 15px;
  -webkit-box-shadow: #84898d 1px 1px 4px 5px;
          box-shadow: #84898d 1px 1px 4px 5px;
}

section input {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  width: 70%;
  border: #525659 solid 2px;
  outline: none;
  border-radius: 15px;
  padding: 20px 0px;
  -webkit-box-shadow: #525659 0px 10px 20px -5px;
          box-shadow: #525659 0px 10px 20px -5px;
}

section input:focus-visible {
  border: orangered solid 2px;
}

article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

article div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 5% 1% 2% 1%;
  border-radius: 15px;
  -webkit-box-shadow: #525659 0px 2px 6px 1px;
          box-shadow: #525659 0px 2px 6px 1px;
}

article div:hover {
  -webkit-box-shadow: #9ea3a6 0px 1px 0px 1px;
          box-shadow: #9ea3a6 0px 1px 0px 1px;
}

.add_btn {
  margin: 3% 0% 0% 0%;
  padding: 1.5%;
  width: 25%;
  border: #525659 solid 2px;
  border-radius: 15px;
  background-color: white;
  color: #151617;
}

.add_btn:focus-visible {
  border: orangered solid 2px;
  background-color: white;
  outline: none;
}

.add_btn:hover {
  border: orangered solid 2px;
  background-color: #6a7074;
  color: white;
  outline: none;
}

article button {
  padding: 7px;
  margin: 10px;
  border-radius: 30px;
  -webkit-box-shadow: #525659 0px 1px 2px 2px;
          box-shadow: #525659 0px 1px 2px 2px;
}

article button .icon {
  font-size: 30px;
  background: none;
  font-weight: lighter;
}

article button .icon:hover {
  color: white;
}

article button:focus {
  color: white;
  outline: none;
}

article .validate {
  background-color: #5ea63f;
}

article .validate:active {
  background-color: #3e6e2a;
}

article .fail {
  background-color: #e12b31;
}

article .fail:active {
  background-color: #911519;
}

.meme_attack {
  position: absolute;
  -webkit-transform: scale3d(0, 0, 0);
          transform: scale3d(0, 0, 0);
  text-align: center;
  color: white;
  background-color: #7b1115;
  padding: 40px 20px;
  border-radius: 100%;
  border: dashed white 2px;
}

.meme_attack:hover {
  border: white solid 2px;
  background-color: orangered;
}

.meme_attack:focus {
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
  -webkit-transition: 400ms ease-in;
  transition: 400ms ease-in;
}

body {
  background-color: #525659;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0%;
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-size: 40px;
  font-family: 'Bebas Neue';
  margin: 10px auto;
}

input {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

h4 {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  margin: 0%;
}

.add_btn {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */