
section{
    background-color: lighten($background-color, 90%);
    display: flex;
    flex-flow:column nowrap ;
    text-align: center;
    align-items: center;
    width: 33%;
    border-radius: 15px;
    box-shadow: lighten($background-color, 20%) 1px 1px 4px 5px;
    input{
        align-self: center;
        text-align: center;
        width: 70%;
        border: $background-color solid 2px;
        outline: none;
        border-radius: 15px;
        padding: 20px 0px;
        box-shadow: $background-color 0px 10px 20px -5px;
    }
    input:focus-visible{ border: $hover-focus solid 2px;}
}
article{
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
    width: 90%;
    margin: 5% 1%;
    border-radius: 15px;
    box-shadow: $background-color 0px 2px 6px 1px;
}
article:hover{box-shadow: 0px 0px 0px 1px;}
