.add_btn{
    margin: 3% 0% 0% 0%;
    padding: 1.5%;
    width: 25%;
    border: $background-color solid 2px;
    border-radius:  15px;
    background-color: lighten($background-color, 90%);
    color: darken($background-color, 25%);
}
.add_btn:focus-visible{
    border: $hover-focus solid 2px;
    background-color: lighten($background-color, 90%);
    outline: none;
}
.add_btn:hover{
    border: $background-color solid 2px;
    background-color: lighten($hover-focus, 7%);
    color: lighten($background-color,100%);
    outline: none;
}

article{
    button{
        padding: 7px;
        margin: 10px;
        border-radius: 30px ;
        box-shadow: $background-color 0px 1px 2px 2px;
        .icon{
            font-size: 30px;
            background: none;
            font-weight:lighter;
        }
        .icon:hover{color: white;}
    }
    button:focus{
        color: white;
        outline: none;
    }

    .validate{ background-color: darken($validate-color, 5%);}
    .validate:active{background-color: darken($validate-color, 20%);}

    .delete{background-color: lighten($delete-color, 5%);}
    .delete:active{background-color: darken($delete-color, 15%);}
}