h1{
    font-size:40px;
    font-family: 'Bebas Neue';
    margin: 10px auto;
}
input{
    font-size: 14px;
    font-family:Arial, Helvetica, sans-serif;
}
h4{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}